<mat-toolbar color="accent" class="mat-elevation-z6">
  <button mat-icon-button (click)="navOpen()" aria-label="menu">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <span class="title" fxFlex> RxJS Docs </span>
  <span class="title" fxFlex> WARNING: This is BETA site </span>
  <a aria-label="GitHub Repository" class="mat-button" href="https://github.com/ReactiveX" aria-disabled="false">
    <span class="mat-button-wrapper">
      <img src="../../../assets/img/GitHub-Mark-Light-64px.png"> GitHub
    </span>
  </a>
</mat-toolbar>
