:host {
  position: fixed;
  top: 30%;
  border-left: 3px solid gray;
  right: 15%;
}

.toc-container {
  padding: 5px 0 0 12px;

  .toc-heading {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 700;
  }

  ul {
    list-style-type: none;
    padding: 0;
    > li {
      line-height: 14px;
      margin: 12px 0 0;
      position: relative;
      text-decoration: none;
      display: block;
      font-size: 14px;
      color: black;
      opacity: .8;
    }
  }
}
