@import '../../../../styles/media-helpers';

h2 {
  margin: 16px 0 16px;
}

.main-operator-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.section-list {
  padding: 1px;
  list-style-type: none;
  margin-top: 0;

  li {
    padding-bottom: 5px;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.short-description {
  margin: 16px 0 32px;
}

.examples-header {
  margin: 32px 0 16px;
}

.marble-wrapper {
  background-color: white;
  text-align: center;
}

.marble-diagram {
  max-width: 640px;

  @media #{$mat-sm-down} {
    max-width: 100%;
  }
}

.parameter-table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  margin: 0 0 32px 0;
  width: 100%;

  th {
    // font-weight: 400;
    max-width: 100px;
    padding: 12px 18px;
    text-align: left;
  }

  td {
    font-weight: 400;
    padding: 8px 16px;
    border: 1px solid rgba(0,0,0,.03);
  }
}

.code-block {
  position: relative;
}

.menu-button {
  position: absolute;
  right: 0;
  top: 0;
}
