<app-operator-header
  [operatorName]="operatorName"
  [operatorSignature]="signature"
  [id]="operatorName"
  class="operator-header">
</app-operator-header>
<section class="main-operator-container mat-typography">
  <h3 class="short-description" [innerHTML]="shortDescription"></h3>
  <app-marble-diagram [url]="marbleUrl" class="margin-bottom-32"></app-marble-diagram>
  <app-operator-examples [operatorExamples]="examples" class="margin-bottom-16"></app-operator-examples>
  <app-operator-parameters [operatorParameters]="parameters"></app-operator-parameters>
  <app-operator-walkthrough [operatorWalkthrough]="walkthrough" class="margin-bottom-16"></app-operator-walkthrough>
  <app-related-operators [relatedOperators]="relatedOperators"></app-related-operators>
  <app-additional-resources
    [additionalResources]="additionalResources"
    [sourceUrl]="sourceUrl">
  </app-additional-resources>
</section>
