<h2> Examples </h2>
<div
  class="code-example"
  *ngFor="let example of operatorExamples"
  appHighlightJs>
  <h3 [innerHTML]="example.name"></h3>
  <div class="code-block mat-elevation-z2">
    <button mat-icon-button [matMenuTriggerFor]="menu" class="menu-button">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a
        mat-menu-item
        [href]="link.url"
        target="_blank"
        *ngFor="let link of example.externalLinks">
        <mat-icon>open_in_new</mat-icon>
        <span>{{link.platform}}</span>
      </a>
      <button
        mat-menu-item
        ngxClipboard
        [cbContent]="example.code">
        <mat-icon>content_copy</mat-icon>
        <span>Copy To Clipboard</span>
      </button>
    </mat-menu>
    <pre [innerHTML]="example.code"></pre>
  </div>
</div>
