<div class="app-fullpage">
  <header>
    <app-toolbar (navToggle)="sidenav.toggle()"></app-toolbar>
  </header>
  <main>
    <mat-sidenav-container>
      <mat-sidenav #sidenav
                   role="navigation">
        <mat-nav-list (click)="sidenav.toggle()">
          <a *ngFor="let menu of menus"
             mat-list-item
             routerLinkActive="active"
             [routerLinkActiveOptions]="menu.options"
             [routerLink]="menu.link"
             (click)="shouldOpenChildMenu(menu.title)">
            {{menu.title}}
          </a>
        </mat-nav-list>
      </mat-sidenav>
      <article>
        <router-outlet></router-outlet>
      </article>
    </mat-sidenav-container>
  </main>
</div>
