<div class="app-fullpage">
  <mat-toolbar color="accent" class="mat-elevation-z6">
    <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>
      menu
    </mat-icon>
  </button>
    <span class="title"> RxJS Docs </span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list (click)="sidenav.toggle()">
        <a *ngFor="let menu of menus" mat-list-item routerLinkActive="active" [routerLinkActiveOptions]="menu.options" [routerLink]="menu.link">
         {{menu.title}}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <div class="body-margin">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>
</div>
