<md-sidenav-container class="operator-container">
  <md-sidenav mode="side" [opened]="true" class="operator-list-sidenav">
    <md-nav-list *ngFor="let category of categories" class="operator-list">
      <h3 md-subheader class="category-subheader">{{ category }}</h3>
      <a md-list-item
        *ngFor="let operator of operators[category]"
        [routerLink]="'/operators'">
        {{ operator.name }}
      </a>
    </md-nav-list>
  </md-sidenav>
  <app-operator></app-operator>
</md-sidenav-container>
