$subheader-color: #333;

:host {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
}

.operator-container {
  width: 100%;
}

.category-subheader {
  text-transform: uppercase;
  font-weight: 600;
  color: white !important;
  background: $subheader-color;
}

.operator-list-sidenav {
  width: 300px;
}
