<mat-sidenav-container
  class="operator-container"
  appOperatorScroll
  (activeOperator)="activeOperator = $event">
  <mat-sidenav
    mode="side"
    [opened]="true"
    [fixedTopGap]="64"
    [fixedInViewport]="true"
    class="operator-list-sidenav">
    <mat-nav-list *ngFor="let category of categories" class="operator-list">
      <h3 mat-subheader class="category-subheader">{{ category }}</h3>
      <a mat-list-item
        *ngFor="let operator of groupedOperators[category]"
        [href]="'/operators#' + operator.name"
        [class.active-operator]="activeOperator === operator.name">
        {{ operator.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <app-operator
    *ngFor="let operator of operators"
    [operator]="operator">
  </app-operator>
</mat-sidenav-container>
