$subheader-color: #3f51b5;

:host {
  flex: 1 1 auto;
  overflow-y: auto;
  display: flex;
}

.operator-container {
  width: 100%;
}

.category-subheader {
  text-transform: uppercase;
  font-weight: 600;
  color: white !important;
  background: $subheader-color;
}

.operator-list {
  a {
    border-bottom: 1px solid #f3f3f3;
    &:last-child {
      border-bottom: none;
    }
  }
}

.operator-list-sidenav {
  width: 300px;
}
