@import "../../../styles/colors";

a.mat-button {
  font-size: 25px;
}

.icon-github {
  color: $icon-color-github;
}

.icon-twitter {
  color: $icon-color-twitter;

}

.icon-linkedin {
  color: $icon-color-linkedin;
}
