@import "~@angular/material/theming";
@include mat-core();

// Define the theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink);
$accent-color: mat-color($accent);
$primary-color: mat-color($primary);
$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

body {
  font-family: Roboto, sans-serif;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

md-sidenav a.active .mat-list-item-content {
  color: mat-color($accent);
}
