<mat-card>
  <img mat-card-image [src]="member.avatar" />
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{member.name}}</mat-card-title>
      <mat-card-subtitle>{{member.role}}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-actions>
    <app-social-sharing
      [githubUrl]="member.githubUrl"
      [twitterUrl]="member.twitterUrl"
      [webpageUrl]="member.webpageUrl"
      class="app-social-sharing"
      >
    </app-social-sharing>
  </mat-card-actions>
</mat-card>
